<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<remove name="LocalMySqlServer"/>
	 <!--<add name="StoreConnection" connectionString="Datasource=[serverName];Database=[database];uid=[username];pwd=[password];Port=[port]" providerName="MySql.Data.MySqlClient" />-->

		<add name="DakarPOS-DEV"
			 connectionString="Server=80.85.105.2;Port=3306;Database=dakarposdb;Uid=remote_user;Pwd=merapkaistan123$;SslMode=None;"
			 providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

	<appSettings>
		<add key="SupportTicketEmail" value="dakarpos@gmail.com"/>
    
    <add key="IsLive" value="false"/>
    <add key="IsLiveDB" value="false"/>
	</appSettings>
 

</configuration>

 