<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn">

  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <targets>
    <target xsi:type="File"
        name="appFile"
        fileName="D:/WorkAttendLogs/logs/workattend-${shortdate}.log"
        keepFileOpen="false"
        createDirs="true"
        encoding="utf-8"
        layout="${longdate}|${level:uppercase=true}|${logger}|${event-properties:item=CLASS}|${event-properties:item=METHOD}|${threadid}|${event-properties:item=UPDATED_BY}|${event-properties:item=ACTION}|${event-properties:item=RESULT}|${message}|${event-properties:item=DESCRIPTION}|${exception:format=tostring}" /> 
  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Warn" writeTo="appFile" final="true" />
    <logger name="System.*" minlevel="Warn" writeTo="appFile" final="true" />
    <logger name="NLog.*" minlevel="Warn" writeTo="appFile" final="true" />
    <logger name="APP.*" minlevel="Debug" writeTo="appFile" />
  </rules>
</nlog>