<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <!--<add name="StoreConnection" connectionString="Datasource=[serverName];Database=[database];uid=[username];pwd=[password];Port=[port]" providerName="MySql.Data.MySqlClient" />
    <add name="DakarPOS-DEV" connectionString="Server=78.133.116.216;Port=3306;Database=DakarPosDB;Uid=root;password=merapakistan123$;" providerName="MySql.Data.MySqlClient" />
    <add name="ELConnectionString" connectionString="Server=78.133.116.216;Port=3306;Database=DakarPosDB;Uid=root;password=merapakistan123$;" providerName="MySql.Data.MySqlClient" />-->

	  <!--<add name="StoreConnection" connectionString="Datasource=locahost;Database=[database];uid=root;pwd=root;Port=3306" providerName="MySql.Data.MySqlClient" />-->
	  <!--<add name="DakarPOS-DEV" connectionString="Server=localhost;Port=3306;Database=DakarPosDB;Uid=root;password=root;" providerName="MySql.Data.MySqlClient" />-->
	  <add name="DakarPOS-DEV"
		   connectionString="Server=80.85.105.2;Port=3306;Database=dakarposdb;Uid=remote_user;Pwd=merapkaistan123$;SslMode=None;"
		   providerName="MySql.Data.MySqlClient" />

	  <!--<add name="ELConnectionString" connectionString="Server=localhost;Port=3306;Database=DakarPosDB;Uid=root;password=root;" providerName="MySql.Data.MySqlClient" />-->

	  <!--<add name="StoreDWConnection" connectionString="Data Source=[serverName];Initial Catalog=[database];Trusted_Connection=True;" providerName="System.Data.SqlClient"/>--> 
  </connectionStrings>
  <!--<system.data>
		<DbProviderFactories>
			<clear />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
		</DbProviderFactories>
	</system.data>-->
</configuration>

